player-connection-mode=Listen
player-connection-guid=1057994401
player-connection-debug=0
player-connection-project-name=SpectralShift
player-connection-ip=172.22.59.49
gfx-enable-gfx-jobs=1
gfx-threading-mode=6
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=0b2d39af63d248ba92a1006e213b4ab3
